{% extends "navstruct.html" %}
{% load static %}

{% block content %}
    <p class="display-4 p-2">{{ header }}</p>
    {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% elif no_notify == 1 %}
        <div></div>
    {% elif no_notify == 0 %}
        <div class="col-4 p-0 m-0">
            <div class="alert alert-warning" role="alert">
                Добавьте товар в заказ из карточки товара
            </div>
        </div>
    {% endif %}
    <table class="client-table table table-responsive table-hover">
        <thead class="thead-light">
        <tr>
            <th>Фото</th>
            <th>Товар</th>
            <th>Количество</th>
            <th>Действие</th>
            <th>Цена за шт</th>
            <th>Сумма</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            <img style="max-width: 100px;" src="
                                {% if product.image %}
                                    {{ product.image.url }}
                                {% else %}
                                    {% static "img/no_image.png" %}
                                {% endif %}">
                        </a>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a href="{% url "cart:cart_remove" product.id%}">Удалить</a></td>
                    <td class="num">{{ item.price }}</td>
                    <td class="num">{{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td><b>Итого</b></td>
            <td colspan="3"></td>
            <td class="num">Товаров: {{ cart|length }}</td>
            <td class="num"><b>{{ cart.get_total_price }}</b></td>
        </tr>
        </tbody>
    </table>

    <div class="container float-left">
        <div class="row">
            <div class="col">
                <a class="btn btn-success" role="button" data-toggle="modal" data-target="#OrderModalCenter">Оформить заказ</a>
                <a class="btn btn-primary" role="button" href="{% url "inventory:product_list" %}">Добавить товары</a>
            </div>
        </div>
    </div>

    <!-- Create Order choice modal (new customer / existing customer) -->
        <div class="modal fade" id="OrderModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Подтвердите</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Выбрать клиента или внести данные вручную?
              </div>
              <div class="modal-footer justify-content-center">
                <form action="/order/create" method="GET">
                    <button type="submit" class="btn btn-success new_client_order">Новый клиент</button>
                </form>
                <form action="/order/create_client" method="GET">
                    <button type="submit" class="btn btn-primary client_order">Выбрать клиента</button>
                </form>
                <button type="button" class="btn btn-danger clearLocalStorage" data-dismiss="modal">Отмена</button>
              </div>
            </div>
          </div>
        </div>

{% block additionaljs %}
    <script type="text/javascript" src="{% static "create_order.js" %}"></script>
{% endblock additionaljs %}

{% endblock %}