{% extends "navstruct.html" %}
{% load static %}

{% block content %}
    <p class="display-4 p-2">{{ header }}</p>
    <div class="col-4 p-0 m-0">
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                <ul class="messages m-0">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <table class="client-table table table-responsive table-hover">
        <thead class="thead-light">
        <tr>
            <th>Фото</th>
            <th>Товар</th>
            <th>Количество</th>
            <th>Действие</th>
            <th>Цена за шт</th>
            <th>Сумма</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            <img style="max-width: 100px;" src="
                                {% if product.image %}
                                    {{ product.image.url }}
                                {% else %}
                                    {% static "img/no_image.png" %}
                                {% endif %}">
                        </a>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>
                    <form action={% url "cart:cart_remove" product.id %}  method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Удалить" />
                    </form>
                    </td>
                    <td class="num">{{ item.price }}</td>
                    <td class="num">{{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td><b>Итого</b></td>
            <td colspan="3"></td>
            <td class="num">Товаров: {{ cart|length }}</td>
            <td class="num"><b>{{ cart.get_total_price }}</b></td>
        </tr>
        </tbody>
    </table>

    <div class="container float-left">
        <div class="row">
            <div class="col-sm-auto p-0">
                {% if messages %}
                    <a class="btn btn-primary" role="button" href="{% url "product:product_list" %}">Добавить товары</a>
                {% else %}
                    <a class="btn btn-success m-2" href="{% url 'order:create_exists' %}" role="button">Оформить заказ</a>
                    <a class="btn btn-primary m-2" role="button" href="{% url "product:product_list" %}">Добавить товары</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}