!media/**/
/static/bootstrap-4.5.3
/static/fontawesome
/account/migrations
/client/migrations
/cart/migrations
/home/migrations
/order/migrations
/crmdev/migrations
*.pyc
*~
__pycache__
venv
.idea
db.sqlite3
.DS_Store
shitcode
test.py
PLAN.txt
