{% extends "navstruct.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            {% if client %}
                <p class="display-4 p-2">{{ client.name }}</p>
            {% else %}
                <p class="display-4 p-2">Добавить клиента</p>
                <hr class="p-2">
            {% endif %}
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <div class="row pt-2">
                    <div class="col-sm">
                      <button type="submit" class="btn btn-success">Сохранить</button>
                      <a href="{% url 'client:client_main' %}" class="btn btn-warning">Назад</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}