{% extends 'navstruct.html' %}
{% load staticfiles %}

{% block content %}
    <p class="display-4 pb-2">{{ client.name }}</p>
    <div>
        <p><strong>Номер телефона:</strong> {{ client.phone_number }}</p>
        <p><strong>Тип клиента:</strong> {{ client.type | linebreaksbr}}</p>
        <p><strong>Откуда пришел:</strong> {{ client.origin }}</p>
        <p><strong>Email:</strong> {{ client.email }}</p>
        <p><strong>Создан:</strong> {{ client.created }}</p>
    </div>
    <a href="{% url 'client:client_edit' client.pk client.slug %}"><button class="btn btn-warning" onlick="return false;">Изменить</button></a>
    <button data-id="{{ client.pk }}" class="btn btn-danger get_delete_id" role="button" data-toggle="modal" data-target="#ClientModalCenter">Удалить</button>
    <a href="javascript:history.go(-1)" class="btn btn-info">Назад</a>

     <!-- ClientModalCenter -->
        <div class="modal fade" id="ClientModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Подтвердите</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Вы действительно хотите удалить эту запись?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary clearLocalStorage" data-dismiss="modal">Отмена</button>
                  <script>
                      $( ".clearLocalStorage" ).on( "click", function() {
                        window.localStorage.removeItem('item');
                      });
                  </script>
                <button type="button" class="btn btn-primary delete_button_id">Удалить</button>
              </div>
            </div>
          </div>
        </div>

        <!-- deleteSuccessModal -->
        <div class="modal fade" id="deleteSuccessModal" tabindex="-1" role="dialog" aria-labelledby="deleteSuccessModalTitle" aria-hidden="true" data-backdrop="false">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteSuccessModalLongTitle">Успешно</h5>
                <button class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p class="text-center">Запись успешно удалена!</p>
                  <div class="container text-center">
                    <button class="btn btn-success" data-dismiss="modal" aria-label="Close" onclick="pageRedirect()">OK</button>
                  </div>
              </div>
            </div>
          </div>
        </div>

{% endblock %}

{% block additionaljs %}
    <script type="text/javascript" src="{% static "client_detail_tasks.js" %}"></script>
{% endblock additionaljs %}