{% extends "navstruct.html" %}
{% load static %}

    <body>
        {% block content %}
        <p class="display-4 p-2">{{ header }}</p>

        {% csrf_token %}
        {% if client_list.count > 0 %}
        <div class="section">
                    <table class="client-table table table-responsive table-hover">
                        <thead class="thead-light"><tr><th>ФИО</th><th>Телефон</th><th>Тип</th><th>E-mail</th><th>Источник</th><th>Действия</th></tr></thead>
                        {% for unit in client_list %}
                        <tr class="ClientTableRow"><td>{{ unit.name }}</td>
                            <td>{{ unit.phone_number }}</td>
                            <td>{{ unit.type }}</td>
                            <td>{{ unit.email }}</td>
                            <td>{{ unit.origin }}</td>
                            <td>
                            <a href="{% url 'client:client_detail' unit.pk unit.slug %}" title="Детали"><ion-icon name="information-circle-outline" style="color:#4169E1;"></ion-icon></a>
                            <a href="{% url 'client:client_edit' unit.pk unit.slug %}" title="Изменить"><ion-icon name="create-outline" style="color:#4169E1;"></ion-icon></a>
                            <button data-id="{{ unit.pk }}" class="btn btn-default btn-lg active p-0 get_delete_id" role="button"><ion-icon name="trash-outline" data-toggle="modal" data-target="#ClientModalCenter" title="Удалить"></ion-icon></button>
                            </td></tr>
                        {% endfor %}
                    </table>
        </div>
        {% else %}
        <h3>Нет записей :( </h3>
        {% endif %}

        <!-- ClientModalCenter -->
        <div class="modal fade" id="ClientModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Подтвердите</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Вы действительно хотите удалить эту запись?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary clearLocalStorage" data-dismiss="modal">Отмена</button>
                  <script>
                      $( ".clearLocalStorage" ).on( "click", function() {
                        window.localStorage.removeItem('item');
                      });
                  </script>
                <button type="button" class="btn btn-primary delete_button_id">Удалить</button>
              </div>
            </div>
          </div>
        </div>

        <!-- deleteSuccessModal -->
        <div class="modal fade" id="deleteSuccessModal" tabindex="-1" role="dialog" aria-labelledby="deleteSuccessModalTitle" aria-hidden="true" data-backdrop="false">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteSuccessModalLongTitle">Успешно</h5>
                <button class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p class="text-center">Запись успешно удалена!</p>
                  <div class="container text-center">
                    <button class="btn btn-success" data-dismiss="modal" aria-label="Close">OK</button>
                  </div>
              </div>
            </div>
          </div>
        </div>


        {% endblock content %}

        {% block additionaljs %}
            <script type="text/javascript" src="{% static "client_tasks.js" %}"></script>
        {% endblock additionaljs %}
    </body>

</html>