{% extends "navstruct.html" %}
{% load static %}
{% block content %}

    <div id="sidebar">
        <ul>
            <li class="selected">
                <a href="{% url 'product:product_list' %}">Все товары</a>
            </li>
            {% for c in categories %}
                <li class="selected">
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <p class="display-4">{{ product.name }}</p>
    <div class="product-detail">
        <div class="container m-0 p-0">
            <img class="img-thumbnail w-25" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.jpg" %}{% endif %}">
            <h2><a href="{{ product.category.get_absolute_url }}">Категория: {{ product.category }}</a></h2>
            <p class="lead"><b>Цена:</b> {{ product.price }} сомов</p>
            <p class="lead"><b>Кол-во:</b> {{ product.stock }}</p>
            <p class="lead"><b>Сумма:</b> {{ product.calc_total_product }}</p>
            <p class="lead"><b>Создавший:</b> {{ product.created_by }}</p>
            <p class="lead"><b>Дата создания:</b> {{ product.created }}</p>
        </div>
    </div>

    <form action="{% url "cart:cart_add" product.id %}" method="post">
        {{ cart_product_form }}
        {% csrf_token %}
        <input type="submit" value="Добавить в заказ">
    </form>

    <div class="pb-5 pt-1">
        <a href="{% url 'product:edit_product' product.slug product.pk %}" class="btn btn-warning text-center">Изменить</a>
        <a href="{% url 'product:delete_product' product.pk %}" class="btn btn-danger text-center">Удалить</a>
    </div>

{% endblock %}

