.card{
    width: 100%;
    height: 100%;
}

.card-product{
    margin: 5px;
    padding: 5px;
}

.card-product .img-wrap {
    border-radius: 2px 2px 0 0;
    overflow: hidden;
    position: center;
    height: 50%;
    width: 50%;
    text-align: center;
}
.card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.card-product .info-wrap {
    border-top: 1px solid #eee;
    margin: 5px;
}
.card-product .bottom-wrap {
    padding: 10px;
    border-top: 1px solid #eee;
}

.label-rating { margin-right:10px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

.card-product .price-and-quantity{
    font-size: 1rem;
    padding-bottom: 1em;
}