{% extends 'navstruct.html' %}
{% load staticfiles %}
{% block content %}
    <div>
        <p class="display-4">Профиль пользователя {{ user }}</p>
        <img class="m-2 p-2" src="{{ MEDIA_URL }}{{ user.userprofile.photo.url }}" height="220">
        <p><strong>Имя:</strong> {{ user.first_name }}</p>
        <p><strong>Фамилия:</strong> {{ user.last_name }}</p>
        <p><strong>Дата роджения:</strong> {{ user.userprofile.date_of_birth }}</p>
        <p><strong>Роль:</strong>
        {% for group in request.user.groups.all %}
            {% if group.name == 'Sellers' %}
                Продавец
            {% elif group.name == 'Manager' %}
                Менеджер
            {% elif group.name == 'Admins' %}
                Администратор
            {% else %}
                Без группы
            {% endif %}
        {% endfor %}
        </p>
        <p><strong>Закрыто сделок:</strong> {{ user.userprofile.closed_sales }}</p>
        <p><strong>На сумму:</strong> {{ user.userprofile.sales_amount }}</p>
        <p><strong>Телефон:</strong> {{ user.userprofile.phone_number }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Создан:</strong> {{ user.userprofile.created }}</p>
    </div>
    <a href="{% url 'account:edit_profile' %}"><button class="btn btn-success" onlick="return false;">Изменить</button></a>
    <!-- <a href="{{ request.META.HTTP_REFERER|escape }}"><button class="btn btn-secondary" onlick="return false;">Назад</button></a> -->
{% endblock %}
